<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="98.1.21" targetFramework="net452" />
  <package id="cef.redist.x86" version="98.1.21" targetFramework="net452" />
  <package id="CefSharp.Common" version="98.1.210" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="98.1.210" targetFramework="net452" requireReinstallation="true" />
  <package id="Common.Logging" version="2.0.0" targetFramework="net462" />
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="NHotkey" version="2.1.0" targetFramework="net45" />
  <package id="NHotkey.Wpf" version="2.1.0" targetFramework="net45" />
  <package id="NHttp" version="0.1.9.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="TwitchLib" version="3.3.0" targetFramework="net462" />
  <package id="TwitchLib.Api" version="3.5.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Core" version="3.5.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Core.Enums" version="3.5.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Core.Interfaces" version="3.5.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Core.Models" version="3.4.2" targetFramework="net462" />
  <package id="TwitchLib.Api.Helix" version="3.5.0" targetFramework="net462" />
  <package id="TwitchLib.Api.Helix.Models" version="3.5.0" targetFramework="net462" />
  <package id="TwitchLib.Client" version="3.2.4" targetFramework="net462" />
  <package id="TwitchLib.Client.Enums" version="3.2.4" targetFramework="net462" />
  <package id="TwitchLib.Client.Models" version="3.2.4" targetFramework="net462" />
  <package id="TwitchLib.Communication" version="1.0.3" targetFramework="net462" />
  <package id="TwitchLib.PubSub" version="3.2.3" targetFramework="net462" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net45" />
</packages>